<div id="custom-product-options-block" data-product-id="{{ product.id }}"></div>

{% schema %}
  {
    "name": "LGD Product Options",
    "target": "section",
    "stylesheet": "product.css",
    "javascript": "product.js"
  }
{% endschema %}
    